.jumbotron {
               background:transparent;
}

body {
	color: white;
	background:linear-gradient(45deg,#001371,#000624,#23a1e0);
	height: 2000px ; 

	
}

h1 {
	margin: 50px 20px 20px 70px;
	font-family: Oswald;
	font-size: 60px;
}

h2 {
	margin: 10px 20px 60px 70px;
}


         li a {
            transition-duration: 1s;
         }

         li:hover {
         	transition-duration: 1s;
            background-color: #c1c1c1;
   
         }


.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #aaaaaa;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

